:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 8fr 1fr;
}

h1 {
  text-align: center;
}

.container {
  padding: 25px;
  height: 100%;
  display: grid;
  grid-template-rows: repeat(auto-fit, 25%);
  grid-template-columns: repeat(auto-fit, 22%);
  justify-content: center;
  gap: 15px;
}

.book {
  border: 2px solid pink;
}